
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../recursos/fondo3.jpg);
    background-size: cover;
}

.portada {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
}

.portada__logo {
    width: 8vw;
    height: 10vh; 
}

nav {
    background-image: linear-gradient(to left,skyblue, teal, midnightblue);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    color:white;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:link {
    text-decoration: none;
    color: white;
}

nav a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: none;
    background-color: white;
    color: rgb(13, 57, 99);
    border-radius: 0.3rem;
}

nav a:active {
    text-decoration: none;
    background-color: white;
    color: rgb(13, 57, 99);
    border-radius: 0.3rem;
}

.titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    justify-content: center;
    font-size: 5rem;
    color: white;
    padding: 13rem;
    background-image: url(../recursos/portada.jpeg);
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover; 
}

.sobreNosotros {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2;
}

.sobreNosotros__subtituloParrafo{
    text-align: center;
    padding: 1.5rem;
    color: rgb(2, 2, 26);
}

.subtitulo {
    text-decoration: underline;
    font-size: 1.7rem;   
}

.parrafo {
    font-size: 1.4rem;
}
   
.sobreNosotros__imagen {
    margin: 1rem;
    border-radius: 2rem;
    border: 3px solid rgb(233, 233, 236);
    height: auto;
    width: 30vw;   
}

.foto {
    text-align: center;
}


.proyecto {
    padding: 2rem;
    margin: 3rem;
    text-align: center; 
    background-color: rgb(111, 111, 219, 0.6);    
}

.proyecto__titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(2, 2, 26);
    font-size: 2rem; 
}

.proyecto__link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(2, 2, 26);
    font-size: 2rem;
    line-height: 1.9;
    margin: 0.5rem;
}

h4 a {
    text-decoration: none;
    color: rgb(13, 57, 99);
}

h4 a:link {
    text-decoration: none;
    color: rgb(13, 57, 99);
}

h4 a:visited {
    text-decoration: none;
    color: rgb(13, 57, 99);
}

h4 a:hover {
    text-decoration: none;
    background-color: rgb(13, 57, 99);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

h4 a:active {
    text-decoration: none;
    background-color: rgb(13, 57, 99);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.footer {
    display: grid;
    grid-template-areas: "redes ubicacion";
    align-items: center;
    background-color: rgb(13, 57, 99);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    padding: 2rem;
}

.footer__redes {
    grid-area: redes;
    font-size: 1.3rem;
    text-align: center;
}

a {
    text-decoration: none;
}

a i {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: 0.5rem;
}

a i:hover {
    color: white;
    font-size: 2.5rem;
}

.animacion {
    animation-duration: 4s;
    animation-name: icono__animacion; 
    animation-iteration-count: infinite; 
}

@keyframes icono__animacion {

    0% {
        font-size: 16px;
        transform: rotate(121deg);
        color:rgb(13, 57, 99);
    }

    50% {
        font-size: 26px;
        transform: rotate(241deg);
        color:rgb(88, 124, 158);
    }

    100% {
        font-size: 36px;
        transform: rotate(360deg);
        color:rgb(245, 248, 250);
    }
}

.footer__ubicacion {
    grid-area: ubicacion;
    font-size: 1.3rem;
    text-align: center;
}

.iframe {
    height: 10vh;
    width: 20vw;
}

.derechos {
    grid-area: recervados;
    background-color: rgb(13, 57, 99);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    font-style: italic;
    color: white;
    text-align: center;
}

.pagina {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2rem;  
}

.pagina__titulo {
    text-align: center;
    font-size: 1.8rem;
    color: rgb(2, 2, 26);
    line-height: 2.5; 
}

.pagina__subtitulo {
    font-size: 1.5rem;
    background-color: rgb(111, 111, 219, 0.6);
    padding: 0.5rem;
    line-height: 2.5;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.pagina__texto {
    font-size: 1.5rem;
    text-align: right;
    margin: 0.5rem;
    line-height: 2.5;
    margin-bottom: 1.5rem;
}

.paginaTexto {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem;
    line-height: 2.5;
    margin-bottom: 1.5rem;
}

.pagina__formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    line-height: 1.9;
    background-image: url(../recursos/fondoContacto1.jpg);
    background-size:  cover; 
    border-radius: 1rem;
    width: 50vw;
    padding: 1rem;
}

.imput {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    width: 40vw;
    padding: 0.4rem;
    margin: 0.4rem;
    background-color: ghostwhite;
    border: 1px solid ghostwhite;
    border-radius: 0.5rem;
}

.buttonEnviar {
    background-color: rgb(111, 111, 219);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(111, 111, 219);
    border-radius: 2rem;
    font-size: 1.5rem;
    padding: 0.8rem;
    margin: 0.8rem;
}

.buttonEnviar:hover {
    background-color: rgb(52, 52, 252);
    transform: scale(1.3);
    transition: all 3s;
}

.galeria {
    display: grid;
    margin: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-template-areas: "galeriaTitulo galeriaTitulo"
                         "galeriaSubtitulo galeriaSubtitulo"
                         "img1 img2"
                         "img3 img4"
                         "img5 img5";   
}

.galeria__titulo {
    grid-area: galeriaTitulo;
    text-align: center;
    font-size: 2rem;
    color: rgb(2, 2, 26);
    line-height: 2.5;
}

.galeria__subtitulo {
    grid-area: galeriaSubtitulo;
    font-size: 1.5rem;
    background-color: rgb(111, 111, 219, 0.6);
    padding: 1rem;
    line-height: 2.5;
}

.imagenes {
    margin: 1rem;
    height: auto;
    width: 40vw;
}

.imagenParrafo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}

.imagen1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: img1;
}

.imagen2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: img2;
}

.imagen3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: img3;
}

.imagen4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: img4;
}

.imagen5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: img5;
    height: 100vh;
    margin: 2rem;
}

@media (min-width: 541px) and (max-width: 720px) {

    .portada__barra {
        font-size: 1.4rem;
    }

    .portada__logo {
        width: 10vh;
        height: 8vh; 
    }

    .titulo {
        font-size: 4rem;
        padding: 8rem;
    }

    .subtitulo {
        font-size: 1.8rem;   
    }
    
    .parrafo {
        font-size: 1.5rem;
    }

    .sobreNosotros__imagen {
        height: 40vh;
        width: 60vw;  
    }

    .proyecto {
        padding: 1rem;
        margin: 2rem;   
    }
    
    .proyecto__titulo {
        font-size: 1.5rem; 
    }
    
    .proyecto__link {
        font-size: 1.5rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer__redes {
        font-size: 1rem;
    }

    .footer__ubicacion {
        font-size: 1rem;
    }

    .derechos {
        font-size: 0.8rem;
    }

    .iframe {
        height: 10vh;
        width: 35vw;
    }

    .galeria {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .imagenes {
        margin: 1rem;
        height: auto;
        width: 45vw;
    }

    .imagen5 {
        height: 60vh;
    }
    
    .pagina__titulo {
        line-height: 1.9;
        font-size: 1.8rem;
    }
    
    .pagina__subtitulo {
        line-height: 1.9;
        font-size: 1.2rem;
    }
    
    .pagina__texto {
        line-height: 1.9;
        font-size: 1.2rem;
    }

    .paginaTexto {
        line-height: 1.9;
        font-size: 1.2rem;
    }

    .card {
        margin: 1rem;
        height: auto;
        width: 50vw;
    }

    .galeria__titulo {
        font-size: 1.8rem;
        line-height: 1.9;
    }
    
    .galeria__subtitulo {
        font-size: 1.2rem;
        line-height: 1.9;
    }

    .pagina__formulario {
        font-size: 1.2rem;
        width: 80vw;
    }

    .imput {
        font-size: 1.2rem;
        width: 70vw;
    }
}

@media (min-width: 320px) and (max-width: 540px) {
  
    .portada {
        flex-direction: column;
        justify-content: center;
    }

    .portada__barra {
        font-size: 1.3rem;
    }

    .portada__logo {
        height: 7vh; 
        width: 9vh;
    }

    ul {
        flex-direction: column;
    } 

    .titulo {
        font-size: 3rem;
        padding: 7rem;
    }
    
    .subtitulo {
        font-size: 1.5rem;   
    }
    
    .parrafo {
        font-size: 1.4rem;
    }

    .sobreNosotros__imagen {
        height: 30vh;
        width: 60vw;  
    }

    .proyecto {
        padding: 1rem;
        margin: 2rem;   
    }
    
    .proyecto__titulo {
        font-size: 1.3rem; 
    }
    
    .proyecto__link {
        font-size: 1.3rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer__redes {
        font-size: 1rem;
    }

    .footer__ubicacion {
        font-size: 1rem;
    }

    .derechos {
        font-size: 0.8rem;
    }

    .iframe {
        height: 10vh;
        width: 35vw;
    }

    .galeria {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
    }

    .imagenes {
        margin: 1rem;
        height: auto;
        width: 45vw;
    }

    .imagen5 {
        height: 50vh;
    }
    

    .pagina__titulo {
        font-size: 1.5rem;
        line-height: 1.9;
    }
    
    .pagina__subtitulo {
        font-size: 1.2rem;
        line-height: 1.9;
    }
    
    .pagina__texto {
        line-height: 1.9;
        font-size: 1.2rem;
    }

    .paginaTexto {
        line-height: 1.9;
        font-size: 1.2rem;
    }

    .card {
        margin: 1rem;
        height: auto;
        width: 45vw;
    }

    .galeria__titulo {
        font-size: 1.5rem;
        line-height: 1.9;
    }
    
    .galeria__subtitulo {
        font-size: 1.2rem;
        line-height: 1.9;
    }

    .pagina__formulario {
        font-size: 1rem;
        width: 70vw;
    }
    
    .imput {
        font-size: 1rem;
        width: 60vw;
    }
}