$color-principal: rgb(13, 57, 99);
$color-secundario: rgb(111, 111, 219);
$color-link-active: white;
$color-link-visited: #CCD9FF;
$color-letra-primario: rgb(2, 2, 26);
$color-letra-secundario: white;
$color-nav: linear-gradient(to left,skyblue, teal, midnightblue);
$font-pricipal: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$imput-background: ghostwhite;
$imput-letra: grey;
$borde-foto: white;